.cart {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 50px;
    margin: 15px;
}

.cart-item span {
    margin: 2px;
}

.cart-item {
    margin-bottom: 5px;
}

.cart-item button {
    width: 100px;
    margin-right: 8px;
}

.item-name {
    text-decoration: none;
    color: #007185;
    color: #0059b3;
    font-size: 20px;
    
    
}